body {
  background: white;
  margin: 0px;
  font-family: sans-serif;
  font-size: 1em;
}
header {
  background: #e2e0e0;
  padding: 30px;
}
nav {
  background: #f1f0f0;
  margin: 0 0 20px 0;
  padding: 30px 50px;
}
main {
  padding: 30px;
}
ul {
  margin: 0 0 0 1em; /* indentation */
  padding: 0;
  list-style: none;
  color: #333;
  position: relative;
  margin-left: .5em
}
ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0px;
}

li:not(:last-child) {
  border-bottom: 1px solid #ccc
}

button, details {
  margin-left: 1em;
}
details {
  padding: 3px 3px 3px 20px;
  font: normal normal 13px monospace;
  transition: height 1s ease;
  position: relative;
}
details:not(:last-child) {
  border-bottom: 1px solid #eee;
}
details[open] {
  padding-bottom: 0px;
}
details[open] details {
  background: #efefef;
  margin-right: 60px;
  margin-bottom: 0px;
}
details[open] details:not(:last-child) {
  border-bottom: 1px solid #d2d1d1;
}
summary {
  width: 100%;
  padding: 4px;
}
summary span {
  min-width: 230px;
  display: inline-block;
}
summary figure {
  padding: 0px;
  margin: 0px;
  display: inline;
}
figure.did-not {
  position: absolute;
  right: 100px;
}
figure.percent {
  position: absolute;
  right: 0px;
  padding: 1px;
  min-width: 50px;
  text-align: right;
}
